.main-cart{
      
  background: linear-gradient(135deg, #fdac29, #5df55d);
    width: 100%;
    height: 100%;
    margin-top: 11px;
    padding: 15px;
    margin: 0px
}
.heading-cart{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 2.5rem;
    padding: 2.5rem;
    
     
}
.add-items{
    margin-left: 20%;
    margin-right: 20%;
}
 .btn-cart button{
            
    margin: 18px;
    padding: 17px;
    background-color: white;
    color: orange;
    align-items: center;
    font-size: 30px;
    margin-left: 68%;
    margin-top: 12px;
    margin-bottom: 85px;
    cursor: pointer;
    border: 28px;
    border: 1px solid;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}  
.btn-cart button:hover{
    background-color: green;

}
.add-items button{
    margin:0px;
    padding: 0px;
    width: 0px;
    font-size: 0px;
     
}
.empty-content{
    text-align: center;
    color: rgb(4, 82, 4);
    font-size: 2.4rem;
}